# Copyright 2008, 2009 Kevin Ryde

# This file is part of Finance-Quote-Grab.
#
# Finance-Quote-Grab is free software; you can redistribute it and/or
# modify it under the terms of the GNU General Public License as published
# by the Free Software Foundation; either version 3, or (at your option) any
# later version.
#
# Finance-Quote-Grab is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the GNU General
# Public License for more details.
#
# You should have received a copy of the GNU General Public License along
# with Finance-Quote-Grab.  If not, see <http://www.gnu.org/licenses/>.


# Build-Depends could have the "maximum_tests" modules from
# Makefile.PL for more tests, but they're only optional author tests
# really and would just make the build tools drag in more stuff.

Source: libfinance-quote-grab-perl
Section: perl
Priority: optional
Build-Depends: cdbs, debhelper (>= 5)
Maintainer: Kevin Ryde <user42@zip.com.au>
Standards-Version: 3.8.2
Homepage: http://www.geocities.com/user42_kevin/finance-quote-grab/index.html
Bugs: mailto:user42@zip.com.au

Package: libfinance-quote-grab-perl
Architecture: all
Depends: perl, libfinance-quote-perl, libhtml-tableextract-perl, libwww-perl (>= 5.814), liburi-perl, liblist-util-perl | perl-modules (>= 5.8), ${misc:Depends}
Description: Download stock quotes from more places
 Finance-Quote-Grab extends Finance::Quote to download quotes from the
 following sources
  * Casablanca Stock Exchange
  * MLC Funds
  * Reserve Bank of Australia
